ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c77ccb;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fffff;
  }
  
  .active {
    background-color: white;
  }


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.bold {
    font-weight: 700;
}

background{
    background-color: white;
}

.summary{
    text-align: center;
    
}

.skills{
    text-align: center;
}

h1 {
    color: #6d6daa;
  }

  h5 {
    color: black;
  }

 img{
    width: 70%;
    length: 70%
   
 }
 h4 {
    color: black;
  }

  .footer{
    position: center;
  }

  #carouselSlide .carousel-item img {
      object-fit: cover;
      object-position: center;
      height: 95vh;
      
   }

.footer {
    background-color: #6d6daa
   }
